@media screen and (min-width: 480px) {
    
    #logo-small {
        display: none;
    }

    #logo-big {
        display: inline-block;
        height: 30px;
    }

    .flex__figure--logo{
        margin-bottom: 10px;
    }

    .sidebar {
        background-color: var(--color-black);
        flex-basis: 40vw;
        height: 100%;
    }

    .sidebar__search {
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        padding: 15px;
    }

    .sidebar__profile {
        height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 10px;
        padding: 15px;
    }

    .container {
        flex-basis: 60vw;    
        display: flex;
        flex-direction: column;
    }

    .upgrade {
        background-color: var(--color-darkblue);
        flex-basis: 7vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .music {
        background-color: var(--color-blue);
        flex-basis: 83vh;
        padding: 10px;
        overflow: scroll;
    }
    
    .sidebar__search figure span,
    .sidebar__profile figure span {
        display: inline-block;
        margin-left: 10px;
    }
    
    .flex__figure {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .playlist {
        display: inline-block;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    i {
        color: var(--color-lightgray);
        font-size: 30px;
        margin-right: 10px;
    }

    .playlist div {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    .playlist span {
        padding: 5px 0;
    }

    hr {
        display: inline-block;
        width: 100%;
        border: 1px solid #818287;
    }

    .user-name {
        color: white;
    }

}