@media screen and (min-width: 768px) {
    
    #logo-big {
        display: inline-block;
        height: 40px;
    }

    .flex__figure--logo{
        margin-bottom: 30px;
    }

    .sidebar {
        background-color: var(--color-black);
        flex-basis: 25vw;
        height: 100%;
    }

    .container {
        flex-basis: 75vw;    
        display: flex;
        flex-direction: column;
    }

    .music__section--type {
        color: var(--color-lightgray);
        font-size: 14px;
    }

    .music__album {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }

    .music__album li {
        flex-basis: calc(100% / 4 - 10px);
        text-align: center;
    }

    .upgrade {
        background-color: var(--color-darkblue);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        position: absolute;
        width: 90vw;
        height: 7vh;
        top: 0;
    }

    .music {
        background-color: var(--color-blue);
        flex-basis: 90vh;
        padding: 10px;
        overflow: scroll;
    }

    .music__section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0 20px;
        padding-top: 60px;
    }

    .music__section--type {
        color: var(--color-lightgray);
        font-size: 14px;
    }

    .player-img {
        height: 40px;
        /* aspect-ratio: 1; */
    }

    .song-info div {
        display: inline-block;
        /* flex-direction: column; */
    }
    
    .player__section-1 {
        width: 25vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        padding: 5px;
    }
    
    .song-info {
        font-size: 1rem;
        /* display: flex;
        flex-direction: column;
        justify-content: flex-start; */
    }
    
    .player__i {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    
    .player i {
        color: var(--color-lightgray);
        font-size: 14px;
    }
    
    .player__section-2 {
        width: 50vw;
        /* display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 20px 10px; */
        gap: 10px;
    }
    
    .music-buttons {
        /* width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; */
        padding: 0 70px;
    }
    
    .music-buttons > i {
        color: var(--color-white);
        font-size: 20px;
    }

    i.fa-circle-play {
        font-size: 26px;
    }
    
    .minutes {
        /* width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px; */
        padding: 0 30px;
    }
    
    .bar {
        /* display: flex;
        justify-items: center;
        align-items: center; */
        width: 100%;
        height: 13px;
    }
    
    .player__section-3 {
        width: 25vw;
        /* display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3px;
        padding: 5px; */
    }
    
    .player__section-3 > i {
        color: var(--color-white);
    }
    
    .bar__volume {
        display: flex;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 13px;
    }
    
}