html {
    font-family: sans-serif;
    font-size: 0.7rem;
}

:root {
    --color-black: #000000;
    --color-gray: #282828;
    --color-lightgray: #818287;
    --color-white: #fff;
    --color-blue: #141922;
    --color-darkblue: #080b12;
    --color-green: #c0ff31;
}

.button {
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 10px;
    border-radius: 20px;
}

/* SEARCH */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

div.search {
    background-color: var(--color-black);
    flex-basis: 10vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.col-up figure,
div.col-down figure {
    margin-left: 10%;
}

div.player {
    background-color: var(--color-gray);
    height: 10vh;
    width: 100%;
}

div.container {
    flex-basis: 90vw;    
    display: flex;
    flex-direction: column;
}

div.upgrade {
    background-color: var(--color-darkblue);
    flex-basis: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div.music {
    background-color: var(--color-blue);
    flex-basis: 80vh;
    padding: 1vh;
    overflow: scroll;
}

div.music ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

}

div.music ul li {
    flex-basis: calc(100% / 2 - 5px);
}