html {
    font-family: sans-serif;
    font-size: 0.7rem;
}

:root {
    --color-black: #000000;
    --color-gray: #282828;
    --color-lightgray: #818287;
    --color-white: #fff;
    --color-blue: #141922;
    --color-darkblue: #080b12;
    --color-green: #c0ff31;
}

.button {
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 5px;
}

h2,
h3 {
    color: var(--color-white);
    margin: 10px 0;
}

span {
    color: var(--color-lightgray);
}

img {
    width: 100%;
}

.symbol {
    height: 20px;
}

/* SEARCH */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

.search {
    background-color: var(--color-black);
    flex-basis: 10vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#logo-small {
    margin-top: 5px;
}

#logo-big {
    display: none;
}

.playlist {
    display: none;
}

.col-up figure span,
.col-down figure span {
    display: none;
}

.col-up figure,
.col-down figure {
    height: 30px;
}

/* CONTAINER */
.container {
    flex-basis: 90vw;    
    display: flex;
    flex-direction: column;
}

.upgrade {
    background-color: var(--color-darkblue);
    flex-basis: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.music {
    background-color: var(--color-blue);
    flex-basis: 80vh;
    padding: 1vh;
    overflow: scroll;
}

.music__section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.music__section--type {
    color: var(--color-lightgray);
}

.music__album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.music__album li {
    flex-basis: calc(100% / 2 - 5px);
    text-align: center;
}

/* PLAYER */
.player {
    background-color: var(--color-gray);
    height: 10vh;
    width: 100%;
}